/* Color
--------------------------*/

$color_primary: #0366F1;
$color_second: #5B4339;
$color_warning: #D86552;
$color_prompt: #629CC5;
$color_background: #FFFFFF;
$color_background-box: #F6F8FA;
$color_background-boxSecond: #F6F5F4;
$color_backgrount-boxDark: #CCCCCC;
$color_barrage: rgba(0, 0, 0, 0.7);
$color_border: #D1D5DA;
$color_text: #000000;
$color_text_second: #95979A;
$color_text-placeholder: #808080;
$color_button-primary: #FFFFFF;

/* distance
--------------------------*/

$distance_page-box: 18rpx;
$distance_page: 26rpx;
$distance_button-height: 80rpx;

/* font-size
--------------------------*/

$fs_options: 30rpx;
$fs_menu: 32rpx;
$fs_second: 26rpx;